@charset "UTF-8";

*{
font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right,#FFA5AB,#DA627D);
}
main{
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d94061;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #A53860;
    text-align: center;
    text-shadow: 1px 1px 2px #754848(129,77,5,0.726);
}
h2{
    color: #450920;
}
p{
 text-align: justify;

}